*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    padding :0 0 1rem 1rem ;
}

.contact_details i, .skills_details, .interests_details{
    color: teal;
    display: block;
}
i{
  padding-top :20px ;
} 
i+a{
  color: blue !important;
} 
.contact_details,
.skills_details{
  padding: 2.3rem 2.5rem 0 2.5rem;
}
.skills_heading{
  padding-top: 2.5rem;
  
}

.skills_heading, .interests_heading{
  text-decoration: underline;
    
}
.skills_details .skils{
    background-color: teal;
    display:inline;
    border-radius: 6px;
    padding:10px;
}
.skild{
  margin: 2.2rem 0;
}
.skils{
    color:white;
    text-decoration: none;
    
}
.interests_details{
  padding: 2.3rem 2.5rem;
}
.interests_heading{
  padding-top: 2.5rem;
  margin-bottom: 0;
}
.interests_details div p{
    display: inline;
    background-color: transparent;
    border-radius: 6px;
    padding:10px;
    color: black;
    border: 2px solid #706f6f;
}
.intd{
  padding-top: 2rem;
}

main.main{

}

.heading{
    background-color: #008080 ;
    padding: 1rem;
}
h1.name,
h3.position{
  color:#ffffff;
}
p.description{
  color: #ffffff;
  padding-left: .5rem;
  text-align: justify;
}
.ex{
    color:teal
}
.heading .position, .ex, .certificates{
    text-decoration: underline;
}
h4.title,
h5.title,
h6.title,
p.title{
  padding-left: 1rem;
}
ul.ul{
  padding-left: 2.5rem;
}
li{
    list-style-type: disc;
}

h4.internship{
  margin-top: 2.3rem;
  padding-left: 0;
}
.bio-data{
    line-height: 1 !important;
    padding: 1.5rem 0 0 0;
}
.bio-data-details{
    font-weight: 700;
    padding-left: 10px;
    
}
.mine{
  text-align: center;
}

img.head{
  width: 200px;
  height: 200px;
  border-radius: 50%;
} 
form h2.contact-heading{
  color:teal;
  text-decoration:underline;
}

form.contact{
  padding: 0 1.25rem;
  margin-top: 1.5rem;
  margin-left:1.7rem;
}
div.form-group{
  padding: 1rem;
}
label, 
input,
textarea{
  display: block;
} 
input,
textarea{
  margin-bottom: 1.5rem;
  padding: 20px;
  background-color: #f4f4f4;
  border: 0;
  border-radius:.30rem;
  box-shadow:2px 2px 6px 6px #c4c4c4 inset;  
} 

button{
  height: 3rem;
  width:80%;
  margin: auto;
  padding:.8rem;
  background-color: teal;
  color: #ffffff;
  border: 0;
  border-radius: .30rem
  
} 
.second-class{
  font-weight: bold;
}
.nnamdi{
  margin-top: -.3rem;
}

@media all and (max-width :560px){
    body {
        display: grid ;
        grid-template-columns :1fr;
    }
}